
.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
@media (max-width: 768px) {
    .card-list {
        flex-direction: column;
    
     
    }
}