.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 12px;
    max-width: 700px;
    margin: 2rem auto;
    width: 100%;

}

@media (max-width: 768px) {
    .card-list {
        flex-direction: column;
        max-width: 95%;
    }
}