.card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
 
   
}

.imagen {
    display: block;
    margin:1rem;
    object-fit: contain;
    max-width: 700px;
    box-shadow: 0 4px 12px rgba(0, 225, 255, 0.1);
}

.sobre-mi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;

}

.mini-card {
    text-align: center;
}

.mini-img {
    width: 90%;
    margin: 1rem;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 768px) {
  

    .detalle {
        font-size: 1.2rem;
    }

    .imagen {
        max-width: 360px;

    }

}