

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.6rem;
}


.nav-button {
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, #ff7a5c, #ffb974);
    padding: 0.4rem 0.9rem;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(4, 83, 230, 0.774);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}


.nav-button:hover {
    background: linear-gradient(135deg, #ff906f, #ffd18f);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(1, 247, 193, 0.192);
}

.nav-button.active {
    background: linear-gradient(135deg, #47fa00, #ffcc70);
    color: #050505;
    font-weight: 600;
}