:root {
  --font-family: "Delius", cursive;
  --line-height: 1.1;
  --font-size: 1.3rem;
  --color: #06ccd3;
  --color_02: #000000;
  --background-color: #1A1A2E;
  --gradiente_01: linear-gradient(135deg, #FF7E00, #FFD93D);
  --gradiente_02: linear-gradient(135deg, #6A0DAD, #FF4DA6);
  --gradiente_03: linear-gradient(135deg, #25D366, #54F29D);
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a,
button,
.nav-button {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--background-color);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
  -webkit-text-size-adjust: var(--webkit-text-size-adjust);
}
main {
    flex: 1;
  }
